<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-text">kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-wrapper">
            <div class="board-columns">
                <div class="board-column pink">
                    <div class="column-title">
                        Ideas
                    </div>
                    <div class="tasks-container">
                        <div class="task">
                            This is not an idea
                        </div>
                        <div class="task">
                            This is not an idea
                        </div>
                    </div>
                </div>
                <div class="board-column purple">
                    <div class="column-title">
                        Research
                    </div>
                    <div class="tasks-container">
                        <div class="task">
                            This is not a research
                        </div>
                    </div>
                </div>
                <div class="board-column blue">
                    <div class="column-title">
                        Todo
                    </div>
                    <div class="tasks-container">
                        <div class="task">
                            This is not a todo
                        </div>
                    </div>
                </div>
                <div class="board-column green">
                    <div class="column-title">
                        Done
                    </div>
                    <div class="tasks-container">
                        <div class="task">
                            This is not done
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>